@font-face {
  font-family: girls;
  src: url("../fonts/Poppins-Thin.woff") format(woff), url("../fonts/Poppins-Thin.woff2") format(woff2);
  font-weight: 100;
}
@font-face {
  font-family: girls;
  src: url("../fonts/Poppins-ExtraLight.woff") format(woff), url("../fonts/Poppins-ExtraLight.woff2") format(woff2);
  font-weight: 200;
}
@font-face {
  font-family: girls;
  src: url("../fonts/Poppins-Light.woff") format(woff), url("../fonts/Poppins-Light.woff2") format(woff2);
  font-weight: 300;
}
@font-face {
  font-family: girls;
  src: url("../fonts/Poppins-Regular.woff") format(woff), url("../fonts/Poppins-Regular.woff2") format(woff2);
  font-weight: 400;
}
@font-face {
  font-family: girls;
  src: url("../fonts/Poppins-Medium.woff") format(woff), url("../fonts/Poppins-Medium.woff2") format(woff2);
  font-weight: 500;
}
@font-face {
  font-family: girls;
  src: url("../fonts/Poppins-SemiBold.woff") format(woff), url("../fonts/Poppins-SemiBold.woff2") format(woff2);
  font-weight: 600;
}
@font-face {
  font-family: girls;
  src: url("../fonts/Poppins-Bold.woff") format(woff), url("../fonts/Poppins-Bold.woff2") format(woff2);
  font-weight: 700;
}
@font-face {
  font-family: girls;
  src: url("../fonts/Poppins-ExtraBold.woff") format(woff), url("../fonts/Poppins-ExtraBold.woff2") format(woff2);
  font-weight: 800;
}
@font-face {
  font-family: girls;
  src: url("../fonts/Poppins-Black.woff") format(woff), url("../fonts/Poppins-Black.woff2") format(woff2);
  font-weight: 900;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 63px;
  width: 1440px;
  margin: 0 auto;
}

body {
  background-color: #161616;
  color: #FFFFFF;
  font-family: girls;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 40px 0;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 64px;
}

.header__link {
  color: #FFFFFF;
  font-family: girls;
}

.header__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.header__box {
  width: 109px;
  height: 45px;
  border-radius: 220px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
}

.header__sun {
  padding: 7px 13px 7px 4px;
}

.header__moon {
  background-color: #C75E90;
  padding: 7px 16px 7px 13px;
  border-radius: 220px;
}

.header__btn {
  padding: 14px 48px;
  border-radius: 220px;
  background-color: #C75E90;
  color: #FFFFFF;
  border: 1px solid transparent;
  font-family: girls;
  font-weight: 700;
  font-size: 1rem;
  position: relative;
}

.section__three-wrapper {
  background-color: #161616;
  border-radius: 40px;
}

.section__three-p {
  color: #696969;
  font-weight: 700;
  font-size: 12px;
}

.rooms__wrapper {
  margin: 79px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 93px;
}

.rooms__minititle {
  font-weight: 700;
  font-size: 12px;
  color: #696969;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.rooms__title {
  font-weight: 700;
  font-size: 36px;
  margin: 28px 0 41px;
}

.rooms__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  padding: 27px 0;
}

.item--active {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: flex-start;
  justify-content: start;
}

.li--active {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}

.rooms__arrow {
  width: 44px;
  height: 44px;
  padding: 4px;
  border-radius: 50%;
  background-color: #C75E90;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.rooms__subtitle {
  font-size: 20px;
  font-weight: 700;
}

.rooms__text {
  margin-left: 76px;
  font-size: 14px;
  font-weight: 400;
}

.rooms__hr {
  width: 642px;
  height: 2px;
  background-color: rgba(128, 128, 128, 0.1294117647);
}/*# sourceMappingURL=style.css.map */