.section2__wrapper {
  @include d-flex(flex-start, 200px);
}

.section__two__p {
  font-size: 14px;
  margin-top: 30px;
  color: $minititle-color;
}

.section__two__h1 {
  font-size: 46px;
  margin-top: 17px;
}

.section__two__1p {
  font-size: 14px;
  margin-top: 10px;
}

.section__two__btn {
  @include btn(14px 41px, $secondary-color, $main-color);
  margin-top: 20px;
}

.mini_btn {
  @include btn(12px 13px, $secondary-color);
  border-radius: 116px;
  position: absolute;
  margin-left: 320px;
  margin-top: -70px;
}

.mini__section {
  background-image: url("../../assents/cat.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 122px;
  width: 337px;
  margin-top: 40px;
  padding: 57px 20px 0;
}

.bi {
  color: $main-color;
  font-size: 30px;
}

.hapl {
  position: relative;
}

.naqw2 {
  position: absolute;
  margin-top: 240px;
  margin-left: 130px;
}

.big__cat {
  position: absolute;
}

.naqw1 {
  position: relative;
  margin-left: -30px;
}

.big__cat {
  margin-top: 80px;
  margin-top: 80px;
}

.cat1 {
  position: absolute;
  width: 80px;
  left: 870px;
  margin-top: 100px;
}

.cat2 {
  width: 80px;
  position: absolute;
  margin-top: 210px;
  left: 870px;
}

.cat3 {
  width: 80px;
  position: absolute;
  left: 890px;
  margin-top: 320px;
}

.cat4 {
  width: 80px;
  position: absolute;
  left: 1010px;
  margin-top: 330px;
}

.section__yarmi {
  background-color: #c75e90;
  width: 850px;
  border-radius: 20px;
  height: 80px;
  background-color: #c75e90;
  width: 850px;
  border-radius: 20px;
  height: 80px;
}

.lacatsya {
  margin: 10px;
  padding: 12px 13px;
  background-color: #833a5d;
  border: none;
  border-radius: 116px;
  margin-left: 30px;
  margin-top: 19px;
  color: white;
  margin-left: 30px;
  margin-top: 19px;
  color: white;
}

.longbtn {
  background-color: #8e345f;
  border-radius: 20px;
  height: 80px;
  position: absolute;
  margin-left: 450px;
  margin-top: -80px;
}

.longbtn {
  background-color: #8e345f;
  border-radius: 20px;
  height: 80px;
  position: absolute;
  margin-left: 450px;
  margin-top: -80px;
}

.lacatsyaa {
  margin: 10px;
  margin: 10px;
  padding: 12px 13px;
  background-color: #b7407a;
  border: none;
  border-radius: 116px;
  margin-left: 30px;
  margin-top: 19px;
  color: white;
  margin-left: 30px;
  margin-top: 19px;
  color: white;
}
