.section__three-wrapper {
  background-color: $bg-color;
  border-radius: 40px;
  @include d-flex(flex-start, 80px);
}

.section__three-p {
  color: #696969;
  font-weight: 700;
  font-size: 12px;
  padding: 107px 338px 17px 58px;
}

.section__three-title {
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  margin-left: 58px;
}

.section__three-ptwo {
  width: 529px;
  font-weight: 14px;
  color: white;
  margin-left: 58px;
  margin-top: 31px;
}

.section__three-btn {
  padding: 14px 48px;
  background-color: $secondary-color;
  border: none;
  margin-top: 54px;
  margin-left: 58px;
  border-radius: 220px;
  color: white;
  font-weight: 700;
  font-size: 12px;
}

.cat__img {
  width: 634px;
  height: 469px;
  margin-top: 34px;
  background-image: url("../../assents/section-three-chizu.svg");
  background-repeat: no-repeat;
  background-position: center;
}
